@model CikolataWebSitesi.Models.tblPromosyon

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tblPromosyon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.promosyonAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.promosyonAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.promosyonIndirimOrani)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.promosyonIndirimOrani)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.baslamaTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.baslamaTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bitisTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bitisTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.promosyonResim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.promosyonResim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblKategori.kategoriAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblKategori.kategoriAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblUrun.urunAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblUrun.urunAd)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
